@model OnlineShoppingStoreMVCUsingLinq.ErrorHistory

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ErrorHistory</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.FKUserId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FKUserId)
                @Html.ValidationMessageFor(model => model.FKUserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ErrorMessage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ErrorMessage)
                @Html.ValidationMessageFor(model => model.ErrorMessage)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ControllerName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ControllerName)
                @Html.ValidationMessageFor(model => model.ControllerName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActionName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ActionName)
                @Html.ValidationMessageFor(model => model.ActionName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ErrorLogTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ErrorLogTime)
                @Html.ValidationMessageFor(model => model.ErrorLogTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
