@model OnlineShoppingStoreMVCUsingLinq.ErrorHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ErrorHistory</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FKUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrorMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ControllerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControllerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrorLogTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorLogTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PKErrorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
