@model OnlineShoppingStoreMVCUsingLinq.Order

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Order</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.PKOrderId)
        @Html.HiddenFor(model=>model.FKBillingAddressId)
        @Html.HiddenFor(model=>model.FKCustomerUserId)
        @Html.HiddenFor(model=>model.FKProcessByUserId)
        @Html.HiddenFor(model=>model.FKProductId)


        <div class="form-group">
            @Html.LabelFor(model => model.OrderDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderDate)
                @Html.ValidationMessageFor(model => model.OrderDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeliveredDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeliveredDate)
                @Html.ValidationMessageFor(model => model.DeliveredDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerComment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerComment)
                @Html.ValidationMessageFor(model => model.CustomerComment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdminComment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdminComment)
                @Html.ValidationMessageFor(model => model.AdminComment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Status, ViewBag.StatusData as IEnumerable<SelectListItem>)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts
{
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#DeliveredDate').datepicker();
    });
</script>
}
