@model IEnumerable<OnlineShoppingStoreMVCUsingLinq.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>
@using (Html.BeginForm())
{
    @Html.DisplayName("CreatedDate")
    <input type="text" name="txtFromDate" class="Date" value="" />
    @Html.DisplayName("To")
    <input type="text" name="txtToDate" class="Date" value=""/>
    @Html.DisplayName("UserName")
    <input type="text" name="txtUserName" />
    @Html.DisplayName("Status")
    <select name="Status">
        <option value="" selected>All</option>
        <option value="Pending">Pending</option>
        <option value="Processing">Processing</option>
        <option value="Delivered">Delivered</option>
        <option value="Cancelled">Cancelled</option>
    </select>
    <input type="submit" name="btnSearch" value="Search" class="btn btn-sm btn-primary" />
    <input type="submit" name="btnReset" value="Reset" class="btn btn-sm btn-primary" />
}
<div style="max-height:500px;overflow:auto;">
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveredDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <input type="button" id="@item.PKOrderId" value="GetOrderDetails" class="anchor" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PKOrderId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PKOrderId })
            </td>
        </tr>
    }

</table>
    </div>
<br />
<table border="1" id="tblOrderDetails" style="column-width: auto;border:1px solid black;">
    <thead>
        <tr style="padding-left:2%">
            <th>Quantity</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.Date').datepicker();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.anchor').click(function () {
                var id = $(this).attr("id");
                $.ajax({
                    url: "Order/GetOrderDetails/" + id,
                    type: 'Get',
                }).success(function (data) {
                    $("#tblOrderDetails tbody").empty();
                    for (var i = 0; i < data.length; i++) {
                        var rows = "<tr><td>" + data[i].Quantity + "</td><td>" + data[i].Cost + "</td></tr>";
                        $('#tblOrderDetails tbody').append(rows);
                    }
                });

            });

        });

    </script>
}




