@model  IEnumerable<OnlineShoppingStoreMVCUsingLinq.SubCategory>
@{
    ViewBag.Title = "SubCategory";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div style="font-weight:bold;font-size:18px;margin:0px 0px 0px 15px">@ViewBag.CategoryName</div>
<div class="container">
    @foreach (var items in Model)
    {
        <div class="col-xs-3 img-responsive">
            <a href="@Url.Action("GetProducts", "Catelog", new { categoryId = @items.FKCategoryId, categoryName = @items.CategoryName, subCategoryId = @items.PKSubCategoryId, subCategoryName = @items.SubCategoryName })"><img src="@items.ImagePath" alt="Loading..... " height="150" width="150"/></a>
            <p>@items.ImageName.Split('.')[0].ToString()</p>
        </div>
    }
</div>
